@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/avenir-book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/avenir-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/avenir-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

p,
a,
span,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  transform: translateY(
    0.06em
  ); /* Ajustez cette valeur pour l'alignement vertical souhaité */
  color: #130033;
}


html {
  scroll-behavior: smooth;
}